{% set dateformat = 'DATEFORMAT.SHORT'|t %}
{% set sessions = page.collection({ items: '@self.children', 'order': {'by': 'date', 'dir': 'desc'}})|first.header.course.sessions %}
{% if sessions is empty %}
<span class="meta">Dates will be announced later</span>
{% else %}
<span class="meta">{{sessions|length}} {{'THEME_CLEAN_BLOG.COURSE.SESSIONS_FROM'|t}} {{sessions|first.time|date(dateformat) }} - {{sessions|last.time|date(dateformat) }}</span>
{% endif %}