<div class="course-overview row">
    {% for page in courses %}
        {% set style = ' style="background-image: url(\'' ~ page.media.images[page.header.header_image].cache.url()  ~ '\')"' %}
        {% set course = page.header.course %}
        {% set dateformat = 'DATEFORMAT.SHORT'|t %}
        <div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1">
            <a href="{{page.url}}">
                <div class="course-preview">
                    <div class="course-header" {{ style}}>
                        <h1>{{ page.title}}</h1>
                        {% include 'partials/course-subheading.html.twig' with {course: page.header.course}%}
                    </div>
                    <div class="course-summary">
                        {{ page.header.subheading}}
                        <hr/>
                        <div class="btn float-right">More Information</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    {# {% if config.plugins.pagination.enabled and collection.params.pagination %}
                                {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                                {% endif %} #}
</div>