<h3>Hallo {{ form.value.name}}</h3>

<p>Hiermit bestaetigen wir deine Anmeldung zum Kurs {{ form.value.course }}.</p>

<p>Falls du noch fragen hast, schreibe uns doch einfach eine Email: <a href="mailto:{{config.plugins.email.from}}">{{config.plugins.email.from}}</a></p>

<p>Wir freuen uns auf deinen Besuch!<br>
Das EduRef Team
</p>  