<p>Hallo {{ form.value.name}},<p>

<p>Hiermit bestätigen wir deine Anmeldung zum Kurs {{ form.value.course }}.</p>

<p>Falls du noch fragen hast, schreibe uns doch einfach eine Email: <a href="mailto:{{config.plugins.email.reply_to}}">{{config.plugins.email.reply_to}}</a></p>

<p>Wir freuen uns auf deinen Besuch!<br>
Das EduRef Team
</p>