{% extends 'partials/base.html.twig' %}

{% block content %}
{% set collection = page.collection() %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for post in collection %}
        {% include 'partials/blog-preview.html.twig' %}
        {% endfor %}
        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
