{% extends 'partials/base.html.twig' %}
{% block content %}
    <div class="container">
        {{ page.content }}
        {% include 'partials/course-preview.html.twig' with {'courses': page.children }%}
    </div>
{% endblock %}